<div class="about-container">
    <div class="about-header">
      <h1>About Us</h1>
    </div>
    <div class="about-content">
      <div class="about-image">
        <img src="assets/images/friends5.png" alt="Team" />
      </div>
      <div class="about-description">
        <p>
            🌟 Our goal is to connect people with shared interests and expand their circle of friends.
        </p>
        <p>
            Users register on the website and provide a brief biography where they specify hobbies and areas of interest.
        </p>
        <p>
            Using similar characteristics, the system recommends other users who are similar to them. 🌍
        </p>
        <p>
            Moreover, users can be exposed to groups with different areas of interest that might intrigue them.
        </p>
        <p>
            You don't need to search - it finds you.
        </p>
        <p>
            🧩 Automatic presentation of groups and people with similar areas of interest to yours.
        </p>
        <p>
            In one group - most or all of your areas of interest.
        </p>
        <p>
            An algorithm-based application designed to link people based on their areas of interest. 💡
        </p> 
      </div>
    </div>
    <div class="team-section">
      <h2>Our Team</h2>
      <div class="team-members">
        <div class="team-member">
          <img src="assets/images/logo.png" alt="Team Member 1" />
          <p>Jawan Ayub</p>
        </div>
        <div class="team-member">
          <img src="assets/images/logo.png" alt="Team Member 2" />
          <p>Efrat David</p>
        </div>
        <div class="team-member">
          <img src="assets/images/logo.png" alt="Team Member 3" />
          <p>Efrat Alkoby</p>
        </div>
        <div class="team-member">
          <img src="assets/images/logo.png" alt="Team Member 4" />
          <p>Meital Korostyshevsky</p>
        </div>
        <div class="team-member">
          <img src="assets/images/logo.png" alt="Team Member 5" />
          <p>Hadar Harris</p>
        </div>
      </div>
    </div>
  </div>



